* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Montserrat;
    text-decoration: none;
    max-width: 1600px;
}

html {
    scroll-behavior: smooth;
}